body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradient background */
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 350px;
    padding: 30px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #6a11cb; /* Màu tiêu đề */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #6a11cb; /* mau viền khi tập trung ở chính giữa */
    outline: none; /* bỏ viền mặc định */
}

button {
    background-color: #6a11cb;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển màu và phóng to */
}

button:hover {
    background-color: #2575fc; /* Màu nền khi hover */
    transform: translateY(-2px); /* Hiệu ứng nhấc lên */
}

#errorMessage {
    margin-top: 10px;
    font-size: 14px;
}